In [1]:
import pandas as pd
import nltk
import string
import re
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

C:\Users\HP\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
#Read  csv datasets into data frames
dataFrame1 = pd.read_csv('Language Detection.csv')

In [4]:
dataFrame2 = pd.read_csv('hindi.csv')

In [5]:
#Show/ print dataFrame 1
dataFrame1

                                                    Text Language
0       Nature, in the broadest sense, is the natural...  English
1      "Nature" can refer to the phenomena of the phy...  English
2      The study of nature is a large, if not the onl...  English
3      Although humans are part of nature, human acti...  English
4      [1] The word nature is borrowed from the Old F...  English
...                                                  ...      ...
10332  ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...  Kannada
10333  ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...  Kannada
10334  ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...  Kannada
10335  ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...  Kannada
10336  ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...  Kannada

[10337 rows x 2 columns]

In [6]:
#Show/ print dataFrame 2
dataFrame2

                                                  Text Language
0    चंद्रमोहन शर्मा को-प्रड्यूसर और लीड ऐक्टर अक्ष...    Hindi
1    अगर आप इस फिल्म को देखने जा रहे हैं तो सबसे पह...    Hindi
2    बॉलीवुड वाले चोरी-छिपे हॉलीवुड फिल्मों से कहान...    Hindi
3    बैनर :\nसंजय दत्त प्रोडक्शन्स प्रा.लि., रुपाली...    Hindi
4    1959 में घटित चर्चित नानावटी कांड में एक क्राइ...    Hindi
..                                                 ...      ...
713  31 अक्टूबर 1984 को काला दिवस कहा जाता है। इस द...    Hindi
714  \n\nगुंडे को देख सत्तर और अस्सी के दशक का सिने...    Hindi
715  Chandermohan.sharma@timesgroup.com ग्लैमर इंडस...    Hindi
716  निर्माता :\nसुनीता गोवारीकर, अजय बिजली, संजीव ...    Hindi
717  फोर्स 2 उन अंडरकवर एजेंट्स को समर्पित है जो सम...    Hindi

[718 rows x 2 columns]

In [7]:
#Combine data frame 1 and 2 togeather
dataFrame = dataFrame1.append(dataFrame2,ignore_index = True) #ignore_index: bool, default False If True, the resulting axis will be labeled 0, 1, …, n - 1

# Initial Insights of Data

In [8]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11055 entries, 0 to 11054
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      11055 non-null  object
 1   Language  11055 non-null  object
dtypes: object(2)
memory usage: 172.9+ KB

In [9]:
#Show/ print target value's no. of sentences: for each language, how many texts/ sentences are there in the dataframe ?
dataFrame.Language.value_counts()

English       1385
French        1014
Spanish        819
Hindi          781
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Name: Language, dtype: int64

In [10]:
#Language is the target value name
#Print 2 text samples with target value Language is Malayalam
dataFrame[dataFrame.Language == 'Malayalam'].sample(2)

                                                   Text   Language
1691  നിങ്ങൾക്ക് ശരിക്കും മറുപടി നൽകാൻ കഴിയും എല്ലാം...  Malayalam
1509  തങ്ങൾ ചെയ്യുന്നതും വിക്കിപീഡിയക്ക് നല്കുന്നതുമ...  Malayalam

In [11]:
#Language is the target value name
#Print 2 text samples with target value Language is Arabic
dataFrame[dataFrame.Language == 'Arabic'].sample(2)

                                                   Text Language
9079  [75] يمكن أن يؤدي هذا في بعض الأحيان إلى إزالة...   Arabic
9153        يُنصح لهذا بقراءة الويكي دائما بنظرة ناقدة.   Arabic

In [12]:
#Language is the target value name
#Print 2 text samples with target value Language is Tamil
dataFrame[dataFrame.Language == 'Tamil'].sample(2)

                                                   Text Language
2265  நான் எப்போதும் செய்கிறேன், நீங்கள் விரல்களைக் ...    Tamil
2441              என்னால் போதுமான நன்றி சொல்ல முடியாது.    Tamil

In [13]:
#Language is the target value name
#Print 2 text samples with target value Language is Kannada
dataFrame[dataFrame.Language == 'Kannada'].sample(2)

                                                    Text Language
10261                  ಇಲ್ಲ, ನಾನು ಒಳ್ಳೆಯವನು, ಧನ್ಯವಾದಗಳು.  Kannada
10327  ಗಾಡಿಯಲ್ಲಿ ಮನೆಯಲ್ಲಿ ನಾರ್ಸಿಸ್ ಅವಳು ಮನೆಗೆ ತಲುಪಿದಾ...  Kannada

In [14]:
#Language is the target value name
#Print 2 text samples with target value Language is Hindi
dataFrame[dataFrame.Language == 'Hindi'].sample(2)

                                                    Text Language
10745  करीब दो साल पहले डायरेक्टर श्रीजीत मुखर्जी के ...    Hindi
10425  बैनर :\nहरीओम प्रोडक्शन्स, थ्रीज़ कंपनी, यूटीव...    Hindi

# Text Preprocessing

In [15]:
#Take the text and remove symbols and numbers specified in the function
def removeSymbolsAndNumbers(text):        
        text = re.sub(r'[{}]'.format(string.punctuation), '', text)
        text = re.sub(r'\d+', '', text)
        text = re.sub(r'[@]', '', text)

        return text.lower()

In [16]:
#Take the text and remove english letters specified in the function
def removeEnglishLetters(text):        
        text = re.sub(r'[a-zA-Z]+', '', text)
        return text.lower()

In [17]:
#Apply the function: removeEnglishLetters(Text) to the varibale x, if the variable x's target variable is Russian,or Malyalam, or Hindi,or Kannada,or Tamil, or Arabic:
X0 = dataFrame.apply(lambda x: removeEnglishLetters(x.Text) if x.Language in ['Russian','Malyalam','Hindi','Kannada','Tamil','Arabic']  else x.Text, axis = 1)
X0 #Show/ print

0         Nature, in the broadest sense, is the natural...
1        "Nature" can refer to the phenomena of the phy...
2        The study of nature is a large, if not the onl...
3        Although humans are part of nature, human acti...
4        [1] The word nature is borrowed from the Old F...
                               ...
11050    31 अक्टूबर 1984 को काला दिवस कहा जाता है। इस द...
11051    \n\nगुंडे को देख सत्तर और अस्सी के दशक का सिने...
11052    .@. ग्लैमर इंडस्ट्री में आर. बाल्की को बिग बी ...
11053    निर्माता :\nसुनीता गोवारीकर, अजय बिजली, संजीव ...
11054    फोर्स 2 उन अंडरकवर एजेंट्स को समर्पित है जो सम...
Length: 11055, dtype: object

In [18]:
#Apply the function removeSymbolsAndNumbers to the same preproccessed data frame earlier:
X1 = X0.apply(removeSymbolsAndNumbers)
X1 #Show/ print

0         nature in the broadest sense is the natural p...
1        nature can refer to the phenomena of the physi...
2        the study of nature is a large if not the only...
3        although humans are part of nature human activ...
4         the word nature is borrowed from the old fren...
                               ...
11050     अक्टूबर  को काला दिवस कहा जाता है। इस दिन तत्...
11051    \n\nगुंडे को देख सत्तर और अस्सी के दशक का सिने...
11052     ग्लैमर इंडस्ट्री में आर बाल्की को बिग बी का ऐ...
11053    निर्माता \nसुनीता गोवारीकर अजय बिजली संजीव के ...
11054    फोर्स  उन अंडरकवर एजेंट्स को समर्पित है जो समय...
Length: 11055, dtype: object

In [19]:
# y = target variable
y = dataFrame['Language']

# Making the predictive model

In [20]:
#With random_state = 42, we get the same train and test sets across different executions
x_train, x_test, y_train, y_test = train_test_split(X1,y, random_state=42)

In [21]:
#TfidfVectorizer is a bag of words approach for feature extraction: ngram_range outputting one-word and three-word tokens, "char" to output character ngrams.
vectorizer = TfidfVectorizer(ngram_range=(1,3), analyzer='char')

In [22]:
#Define a pipeline combining a text feature extractor: vectorizer with a simple classifier
model = pipeline.Pipeline([
    ('vectorizer', vectorizer),
    ('clf', LogisticRegression())
])

In [23]:
model.fit(x_train,y_train)

Pipeline(steps=[('vectorizer',
                 TfidfVectorizer(analyzer='char', ngram_range=(1, 3))),
                ('clf', LogisticRegression())])

# Checking for Accuracy

In [24]:
y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test,y_pred)
cm = confusion_matrix(y_test,y_pred)

In [25]:
print("Accuracy is :",accuracy)

Accuracy is : 0.983357452966715

In [33]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Arabic       1.00      1.00      1.00       134
      Danish       0.97      0.93      0.95       109
       Dutch       0.97      0.95      0.96       139
     English       0.97      0.99      0.98       349
      French       0.99      0.99      0.99       267
      German       0.98      0.97      0.97       118
       Greek       1.00      1.00      1.00        95
       Hindi       1.00      1.00      1.00       190
     Italian       0.98      0.96      0.97       173
     Kannada       1.00      1.00      1.00        89
   Malayalam       1.00      0.99      1.00       156
  Portugeese       0.98      0.97      0.98       186
     Russian       1.00      1.00      1.00       162
     Spanish       0.96      0.98      0.97       193
    Sweedish       0.96      0.97      0.97       171
       Tamil       1.00      1.00      1.00       114
     Turkish       0.98      1.00      0.99       119

    accuracy                           0.98      2764
   macro avg       0.99      0.98      0.98      2764
weighted avg       0.98      0.98      0.98      2764

In [48]:
def predict(text):
    lang = model.predict([text])
    print('The Language is in', lang[0])

# Test the model with different texts

In [39]:
predict("LANGUAGE DETECTION MODEL CHECK")
predict("VÉRIFICATION DU MODÈLE DE DÉTECTION DE LA LANGUE")
predict("توففحص نموذج الكشف عن اللغة")
predict("VERIFICACIÓN DEL MODELO DE DETECCIÓN DE IDIOMAS")
predict("ലാംഗ്വേജ് ഡിറ്റക്ഷൻ മോഡൽ ചെക്ക്")
predict("ПРОВЕРКА МОДЕЛИ ОПРЕДЕЛЕНИЯ ЯЗЫКА")
predict('भाषा का पता लगाने वाले मॉडल की जांच')
predict(' boyit9h एनालिटिक्स alhgserog 90980879809 bguytfivb ahgseporiga प्रदान करता है')

The Language is in English
The Language is in French
The Language is in Arabic
The Language is in Spanish
The Language is in Malayalam
The Language is in Russian
The Language is in Hindi
The Language is in Hindi

In [45]:
import gradio as gr

In [61]:
def predict(text): 
    lang = model.predict([text]) 
    #print('The Language is in', lang[0])
    return 'The Text is in ' + lang[0] + ' Language'

In [62]:
interface = gr.Interface(fn=predict,
                         inputs=gr.inputs.Textbox(lines=2, placeholder='Enter your text here...'), 
                         outputs='text')
interface.launch(share=True)

Running on local URL:  http://127.0.0.1:7866

Setting up a public link... we have recently upgraded the way public links are generated. If you encounter any problems, please report the issue and downgrade to gradio version 3.13.0
.
Running on public URL: https://bec0c786-e2ad-44b6.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades (NEW!), check out Spaces: https://huggingface.co/spaces

In [ ]:
import pickle
# save the model to disk
filename = 'finalized_model.h5'
pickle.dump(model, open(filename, 'wb'))