In [31]:
import pandas as pd
import nltk
import string
import re
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [32]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [33]:
#Read  csv datasets into data frames
dataFrame1 = pd.read_csv('/content/Language Detection.csv')

In [34]:
dataFrame2 = pd.read_csv('/content/hindi.csv')

In [35]:
#Show/ print dataFrame 1
dataFrame1

                                                    Text Language
0       Nature, in the broadest sense, is the natural...  English
1      "Nature" can refer to the phenomena of the phy...  English
2      The study of nature is a large, if not the onl...  English
3      Although humans are part of nature, human acti...  English
4      [1] The word nature is borrowed from the Old F...  English
...                                                  ...      ...
10332  ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...  Kannada
10333  ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...  Kannada
10334  ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...  Kannada
10335  ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...  Kannada
10336  ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...  Kannada

[10337 rows x 2 columns]

In [36]:
#Show/ print dataFrame 2
dataFrame2

                                                  Text Language
0    चंद्रमोहन शर्मा को-प्रड्यूसर और लीड ऐक्टर अक्ष...    Hindi
1    अगर आप इस फिल्म को देखने जा रहे हैं तो सबसे पह...    Hindi
2    बॉलीवुड वाले चोरी-छिपे हॉलीवुड फिल्मों से कहान...    Hindi
3    बैनर :\nसंजय दत्त प्रोडक्शन्स प्रा.लि., रुपाली...    Hindi
4    1959 में घटित चर्चित नानावटी कांड में एक क्राइ...    Hindi
..                                                 ...      ...
713  31 अक्टूबर 1984 को काला दिवस कहा जाता है। इस द...    Hindi
714  \n\nगुंडे को देख सत्तर और अस्सी के दशक का सिने...    Hindi
715  Chandermohan.sharma@timesgroup.com ग्लैमर इंडस...    Hindi
716  निर्माता :\nसुनीता गोवारीकर, अजय बिजली, संजीव ...    Hindi
717  फोर्स 2 उन अंडरकवर एजेंट्स को समर्पित है जो सम...    Hindi

[718 rows x 2 columns]

In [37]:
#Combine data frame 1 and 2 togeather
dataFrame = dataFrame1.append(dataFrame2,ignore_index = True) #ignore_index: bool, default False If True, the resulting axis will be labeled 0, 1, …, n - 1

# Initial Insights of Data

In [38]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11055 entries, 0 to 11054
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      11055 non-null  object
 1   Language  11055 non-null  object
dtypes: object(2)
memory usage: 172.9+ KB

In [39]:
#Show/ print target value's no. of sentences: for each language, how many texts/ sentences are there in the dataframe ?
dataFrame.Language.value_counts()

English       1385
French        1014
Spanish        819
Hindi          781
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Name: Language, dtype: int64

In [40]:
#Language is the target value name
#Print 2 text samples with target value Language is Malayalam
dataFrame[dataFrame.Language == 'Malayalam'].sample(2)

                                                   Text   Language
1631  വളരെ അങ്ങനെ സ്മാർട്ട് വാക്ക് നമ്പർ നാല് ഒന്നുമ...  Malayalam
1477  സാമാന്യം പൂർണ്ണമായ ഉള്ളടക്കവും കൃത്യതയും ഉള്ള ...  Malayalam

In [41]:
#Language is the target value name
#Print 2 text samples with target value Language is Arabic
dataFrame[dataFrame.Language == 'Arabic'].sample(2)

                      Text Language
9425  أخشى أنني لا أستطيع.   Arabic
9397        المقاطعة بأدب.   Arabic

In [42]:
#Language is the target value name
#Print 2 text samples with target value Language is Tamil
dataFrame[dataFrame.Language == 'Tamil'].sample(2)

                                                   Text Language
2141  தற்போது 100-க்கும் மேற்பட்ட வழங்கிகள், உலகின் ...    Tamil
2373  நான் வேலை செய்வேன் என்று நேர்மையாக நினைக்கவில்லை.    Tamil

In [43]:
#Language is the target value name
#Print 2 text samples with target value Language is Kannada
dataFrame[dataFrame.Language == 'Kannada'].sample(2)

                          Text Language
10084  ಅದು ಅಪ್ರಸ್ತುತವಾಗುತ್ತದೆ.  Kannada
10173                 ಸಾಮಾನ್ಯ.  Kannada

In [44]:
#Language is the target value name
#Print 2 text samples with target value Language is Hindi
dataFrame[dataFrame.Language == 'Hindi'].sample(2)

                                                    Text Language
10520  कहानी: दो नेत्रहीन कपल रोहन भटनागर (रितिक रोशन...    Hindi
10930  बैनर :\nयशराज फिल्म्स\n\nनिर्माता :\nआदित्य चो...    Hindi

# Text Preprocessing

In [45]:
#Take the text and remove symbols and numbers specified in the function
def removeSymbolsAndNumbers(text):        
        text = re.sub(r'[{}]'.format(string.punctuation), '', text)
        text = re.sub(r'\d+', '', text)
        text = re.sub(r'[@]', '', text)

        return text.lower()

In [46]:
#Take the text and remove english letters specified in the function
def removeEnglishLetters(text):        
        text = re.sub(r'[a-zA-Z]+', '', text)
        return text.lower()

In [47]:
#Apply the function: removeEnglishLetters(Text) to the varibale x, if the variable x's target variable is Russian,or Malyalam, or Hindi,or Kannada,or Tamil, or Arabic:
X0 = dataFrame.apply(lambda x: removeEnglishLetters(x.Text) if x.Language in ['Russian','Malyalam','Hindi','Kannada','Tamil','Arabic']  else x.Text, axis = 1)
X0 #Show/ print

0         Nature, in the broadest sense, is the natural...
1        "Nature" can refer to the phenomena of the phy...
2        The study of nature is a large, if not the onl...
3        Although humans are part of nature, human acti...
4        [1] The word nature is borrowed from the Old F...
                               ...
11050    31 अक्टूबर 1984 को काला दिवस कहा जाता है। इस द...
11051    \n\nगुंडे को देख सत्तर और अस्सी के दशक का सिने...
11052    .@. ग्लैमर इंडस्ट्री में आर. बाल्की को बिग बी ...
11053    निर्माता :\nसुनीता गोवारीकर, अजय बिजली, संजीव ...
11054    फोर्स 2 उन अंडरकवर एजेंट्स को समर्पित है जो सम...
Length: 11055, dtype: object

In [48]:
#Apply the function removeSymbolsAndNumbers to the same preproccessed data frame earlier:
X1 = X0.apply(removeSymbolsAndNumbers)
X1 #Show/ print

0         nature in the broadest sense is the natural p...
1        nature can refer to the phenomena of the physi...
2        the study of nature is a large if not the only...
3        although humans are part of nature human activ...
4         the word nature is borrowed from the old fren...
                               ...
11050     अक्टूबर  को काला दिवस कहा जाता है। इस दिन तत्...
11051    \n\nगुंडे को देख सत्तर और अस्सी के दशक का सिने...
11052     ग्लैमर इंडस्ट्री में आर बाल्की को बिग बी का ऐ...
11053    निर्माता \nसुनीता गोवारीकर अजय बिजली संजीव के ...
11054    फोर्स  उन अंडरकवर एजेंट्स को समर्पित है जो समय...
Length: 11055, dtype: object

In [49]:
# y = target variable
y = dataFrame['Language']

# Making the predictive model

In [50]:
#With random_state = 42, we get the same train and test sets across different executions
x_train, x_test, y_train, y_test = train_test_split(X1,y, random_state=42)

In [51]:
#TfidfVectorizer is a bag of words approach for feature extraction: ngram_range outputting one-word and three-word tokens, "char" to output character ngrams.
vectorizer = TfidfVectorizer(ngram_range=(1,3), analyzer='char')

In [52]:
#Define a pipeline combining a text feature extractor: vectorizer with a simple classifier
model = pipeline.Pipeline([
    ('vectorizer', vectorizer),
    ('clf', LogisticRegression())
])

In [53]:
model.fit(x_train,y_train)

Pipeline(steps=[('vectorizer',
                 TfidfVectorizer(analyzer='char', ngram_range=(1, 3))),
                ('clf', LogisticRegression())])

# Checking for Accuracy

In [54]:
y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test,y_pred)
cm = confusion_matrix(y_test,y_pred)

In [55]:
print("Accuracy is :",accuracy)

Accuracy is : 0.983357452966715

In [56]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Arabic       1.00      1.00      1.00       134
      Danish       0.97      0.93      0.95       109
       Dutch       0.97      0.95      0.96       139
     English       0.97      0.99      0.98       349
      French       0.99      0.99      0.99       267
      German       0.98      0.97      0.97       118
       Greek       1.00      1.00      1.00        95
       Hindi       1.00      1.00      1.00       190
     Italian       0.98      0.96      0.97       173
     Kannada       1.00      1.00      1.00        89
   Malayalam       1.00      0.99      1.00       156
  Portugeese       0.98      0.97      0.98       186
     Russian       1.00      1.00      1.00       162
     Spanish       0.96      0.98      0.97       193
    Sweedish       0.96      0.97      0.97       171
       Tamil       1.00      1.00      1.00       114
     Turkish       0.98      1.00      0.99       119

    accuracy                           0.98      2764
   macro avg       0.99      0.98      0.98      2764
weighted avg       0.98      0.98      0.98      2764

# Testing function

In [57]:
def predict(text):
    lang = model.predict([text])
    print('The Language is in', lang[0])

# Test the model with different texts

In [58]:
predict("LANGUAGE DETECTION MODEL CHECK")
predict("VÉRIFICATION DU MODÈLE DE DÉTECTION DE LA LANGUE")
predict("توففحص نموذج الكشف عن اللغة")
predict("VERIFICACIÓN DEL MODELO DE DETECCIÓN DE IDIOMAS")
predict("ലാംഗ്വേജ് ഡിറ്റക്ഷൻ മോഡൽ ചെക്ക്")
predict("ПРОВЕРКА МОДЕЛИ ОПРЕДЕЛЕНИЯ ЯЗЫКА")
predict('भाषा का पता लगाने वाले मॉडल की जांच')
predict(' boyit9h एनालिटिक्स alhgserog 90980879809 bguytfivb ahgseporiga प्रदान करता है')

The Language is in English
The Language is in French
The Language is in Arabic
The Language is in Spanish
The Language is in Malayalam
The Language is in Russian
The Language is in Hindi
The Language is in Hindi

# Building Interface

In [60]:
import gradio as gr

def predict(text): 
    lang = model.predict([text]) 
    #print('The Language is in', lang[0])
    return 'The Text is in ' + lang[0] + ' Language'

interface = gr.Interface(fn=predict,
                         inputs=gr.inputs.Textbox(lines=2, placeholder='Enter your text here...'), 
                         outputs='text')
interface.launch(share=True)

Colab notebook detected. To show errors in colab notebook, set debug=True in launch()
Note: opening Chrome Inspector may crash demo inside Colab notebooks.

To create a public link, set `share=True` in `launch()`.

# Saving the model

In [ ]:
import pickle
# save the model to disk
filename = 'model.h5'
pickle.dump(model, open(filename, 'wb'))